/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
	@apply font-bold text-3xl;
}

h2 {
	@apply font-bold text-2xl;
}

h3 {
	@apply font-bold text-xl;
}

h4,
h5,
h6 {
	@apply font-bold;
}
